@import-normalize; /* bring in normalize.css styles */

//reset

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
body::after {
  position: absolute;
  z-index: -1;
  content: url(img/bg/services-section/bg-services-1-mobile.webp),
    url(img/bg/services-section/bg-services-1-tablet.webp),
    url(img/bg/services-section/bg-services-1-desc.webp),
    url(img/bg/services-section/bg-services-2-mobile.webp),
    url(img/bg/services-section/bg-services-2-tablet.webp),
    url(img/bg/services-section/bg-services-2-desc.webp),
    url(img/bg/services-section/bg-services-3-mobile.webp),
    url(img/bg/services-section/bg-services-3-tablet.webp),
    url(img/bg/services-section/bg-services-3-desc.webp),
    url(img/bg/services-section/bg-services-4-mobile.webp)
      url(img/bg/services-section/bg-services-4-tablet.webp),
    url(img/bg/services-section/bg-services-4-desc.webp),
    url(img/bg/services-section/bg-services-5-mobile.webp),
    url(img/bg/services-section/bg-services-5-tablet.webp),
    url(img/bg/services-section/bg-services-5-desc.webp);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
